{% extends 'main/layoute.html' %}

{% block title %}
    <title>Первая страница на Django</title>
{% endblock %}

{% block content %}

    <h1> </h1>
    <h1>Добро пожаловать на сайт {{caption}}</h1>

    <h3>Django — это мощный веб-фреймворк на языке Python, который позволяет быстро
        и эффективно создавать веб-приложения. Его простота и гибкость делают его
        идеальным выбором как для новичков, так и для опытных разработчиков.
    </h3>


    <h2>Почему стоит выбрать Django?</h2>

    <h5>
        1. **Быстрая разработка**: Django предлагает множество встроенных функций, которые
        ускоряют процесс разработки.
    </h5>

    <h5>
        2. **Безопасность**: Защита от распространенных уязвимостей, таких как SQL-инъекции, XSS и CSRF.
    </h5>

    <h5>
        3. **Масштабируемость**: Django позволяет легко масштабировать приложения, чтобы справляться с растущими требованиями.<h5>4. **Сообщество**: Обширное сообщество разработчиков и множество готовых пакетов для расширения функциональности вашего приложения.
    </h5>


    <h2>Начните свой путь с Django</h2>

    <h6>В нашей документации вы найдете все необходимые материалы, чтобы начать. Мы рекомендуем
        ознакомиться с основами, а затем переходить к более сложным темам.
    </h6>


    <h2>Присоединяйтесь к нашему сообществу</h2>

{% endblock %}
