{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'main/css/main.css' %}">
    {% block title %}
    <title>CatDjango</title>
    {% endblock %}
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <aside class="col-md-4 col-lg-3 bg-light sidebar">
                <div class="text-center p-3">
                    <img src="{% static 'main/img/cat1.jpg' %}" alt="котик на двух лапках" width="150px" class="img-fluid rounded-circle">
                    <h2 class="mt-2">CatDjango</h2>
                </div>
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link active" href="{% url 'home' %}">Главная</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'page2' %}">Вторая</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'page3' %}">Третья</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'page4' %}">Четвертая</a>
                    </li>
                </ul>
            </aside>
            <main class="col-md-8 col-lg-9">
                {% block content %}
                {% endblock %}
            </main>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.0.7/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    {% include 'main/footer.html' %}  <!-- Подключение подвала -->
</body>
</html>
