{% extends 'main/layoute.html' %}

{% block title %}
    <title>Безопасность</title>
{% endblock %}

{% block content %}
    <h2>Безопасность в Django</h2>

    <p>1. Защита от SQL-инъекций – Django использует параметры запросов и ORM, что минимизирует риск выполнения вредоносного SQL-кода.</p>

    <p>2. Защита от XSS (межсайтового скриптинга) – Django автоматически экранирует пользовательский ввод в шаблонах, что предотвращает выполнение вредоносных скриптов.</p>

    <p>3. Защита от CSRF (межсайтовой подделки запросов) – Django включает встроенные механизмы защиты от CSRF-атак, требуя от пользователей наличие специального токена при отправке форм.</p>

    <p>4. Безопасность паролей – Django предлагает хэширование паролей с использованием современных алгоритмов, обеспечивая безопасность хранения пользовательских данных.</p>

    <p>5. Защита от Clickjacking – Django предоставляет механизм, который позволяет предотвратить вставку страниц вашего сайта в iframe, защищая от возможных атак.</p>

    <p>6. Аутентификация и авторизация – Django предлагает мощные инструменты для управления пользователями, включая регистрацию, вход в систему и права доступа.</p>

    <p>7. Использование HTTPS – Django рекомендует использовать HTTPS для защиты данных, передаваемых между клиентом и сервером.</p>

    <p>8. Защита от открытых редиректов – Django позволяет разработчикам контролировать URL-адреса, на которые перенаправляются пользователи, предотвращая возможные атаки.</p>

    <p>9. Регулярные обновления – Django активно поддерживается, и регулярные обновления фреймворка обеспечивают устранение известных уязвимостей.</p>

    <p>10. Мониторинг и логирование – Django предоставляет встроенные средства для логирования, что позволяет отслеживать подозрительную активность и проводить аудит безопасности.</p>

{% endblock %}
